

<body>

    <form action = "/order/display" method = "POST">
        <label>pizzas</label><br>
        <input type = 'text' id = 'pizzas' name = 'pizzas'>
        <label>takeaway</label><br>
        <input type="radio" id = "takeaway" name = "takeaway">
        <label>payment type</label><br>
        <input type = "text" id = "payment_type" name = "payment_type">
        <label>customer id</label><br>
        <input type = "text" id = "customer_id" name = "customer_id">
        <label>note</label><br>
        <input type = "text" id = "note" name = "note" size = "150">
        <label>delivery address:</label><br>
        <input type =  "text" id = "delivery_address" name = "delivery_address">
        <br>
        <input type = "submit" value = "submit">
    </form>

</body>